Prédicition de la bourse

In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
sp500 = yf.Ticker("^GSPC")
sp500_data = sp500.history(period="max")

In [5]:
sp500_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-04-14 00:00:00-04:00,5441.959961,5459.459961,5358.020020,5405.970215,5031440000,0.0,0.0
2025-04-15 00:00:00-04:00,5411.990234,5450.410156,5386.439941,5396.629883,4317110000,0.0,0.0
2025-04-16 00:00:00-04:00,5335.750000,5367.240234,5220.790039,5275.700195,4607750000,0.0,0.0
2025-04-17 00:00:00-04:00,5305.450195,5328.310059,5255.580078,5282.700195,4714880000,0.0,0.0
2025-04-21 00:00:00-04:00,5232.939941,5232.939941,5101.629883,5158.200195,4226340000,0.0,0.0